#programinstruction_id { border: green double 4px; font-size: 8pt; color: red; text-align: left }
#button_area_id { border: red double 4px; font-size: 8pt; color: red; text-align: left }
#programtext_id { border: blue double 4px; font-size: 8pt; color: red; text-align: left }
